body {
  font-family: Arial, sans-serif;
  margin: auto;
  max-width: 800px;
  padding: 20px;
  background-color: #f4f4f4;
}

h2 {
  color: #333;
  text-align: center;
}

.container {
  background-color: white;
  border: 1px solid #ddd;
  margin: 20px 0;
  padding: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.result {
  color: #005b96;
  font-weight: bold;
  font-size: 18px;
}

.number-input,
.input-regla {
  margin-right: 10px;
  margin-top: 5px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 120px;
}

button {
  padding: 10px;
  background-color: #005b96;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #00457c;
}

button:disabled {
  background-color: #ccc;
}

#inputContainer {
  margin-bottom: 15px;
}

#addNumber {
  background-color: #28a745;
}

#addNumber:hover {
  background-color: #218838;
}

#resultados {
  margin-top: 20px;
}
